fastapi>=0.105.0
uvicorn>=0.24.0
pydantic>=2.4.2
PyPDF2>=3.0.0
sentence-transformers>=2.2.2
faiss-cpu>=1.7.4
numpy>=1.24.0
torch>=2.6
transformers>=4.40.0
starlette>=0.27.0
python-multipart>=0.0.6
uuid>=1.30
accelerate>=0.24.0
django>=5.0.1
django-cors-headers>=4.3.1